@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprobolditalic.eot');
    src: url('fonts-generated/pfagoraslabprobolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprobolditalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabprobolditalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprobolditalic.svg#pfagoraslabprobolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabproitalic.eot');
    src: url('fonts-generated/pfagoraslabproitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabproitalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabproitalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabproitalic.svg#pfagoraslabproitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprothin.eot');
    src: url('fonts-generated/pfagoraslabprothin.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprothin.woff') format('woff'),
         url('fonts-generated/pfagoraslabprothin.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprothin.svg#pfagoraslabprothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('fonts-generated/pfagoraslabprothinitalic.eot');
    src: url('fonts-generated/pfagoraslabprothinitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts-generated/pfagoraslabprothinitalic.woff') format('woff'),
         url('fonts-generated/pfagoraslabprothinitalic.ttf') format('truetype'),
         url('fonts-generated/pfagoraslabprothinitalic.svg#pfagoraslabprothinitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}