@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/

html, body {
  height: 100%;
}

body {
  background: url(i/bg.jpg);
  font: 14px/1.4 Tahoma, sans-serif;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
}

aside .elem {
  border-bottom: 1px dashed #000;
  margin-bottom: 30px;
  .label {
    font-size: 30px;
    line-height: 1.1;
    font-family: 'PFAgoraSlabPro';
  }
  .sublabel {
    text-transform: uppercase;
    font-size: 8px;
    padding-top: 1px;
    width: 170px;
    border-top: 1px solid #000;
    margin-bottom: 30px;
  }
  .tour {
    margin-bottom: 30px;
    font-family: 'PFAgoraSlabPro';
    .clearfix();
    .price {
      float: right;
      position: relative;
      img {
        .border-radius(125px);
      }
      .lab {
        position: absolute;
        top: 30px;
        left: -25px;
        width: 75px;
        height: 75px;
        display: block;
        background: #e40e15;
        color: #fff;
        font-size: 16px;
        text-align: center;
        padding: 8px 0 0 0;
        .box-sizing(border-box);
        .border-radius(100px);
        span {
          font-size: 20px;
          white-space: nowrap;
        }
      }
    }
    .data {
      margin-right: 145px;
      padding: 10px 0 0 0;
      a {
        font-size: 18px;
        color: #00c4f2;
        display: block;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      p.date {
        color: #666666;
      }
    }
  }
}
.to_usa, .to_carib {
  display: block;
  img {display: block;}
}
.to_usa {
  margin-left: -18px;
}
.to_carib {
  margin-left: -10px;
}
section .elem {
  .clearfix();
  margin: 40px 0 0 0;
  img {
    float: left;
    display: block;
    margin-top: 15px;
    width: 191px;
    height: 191px;
    .border-radius(191px);
  }
  .data {
    margin: 0 0 0 230px;
  }
  a {
    color: #00c4f2;
  }
  h3 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
    font-family: 'PFAgoraSlabPro';
    a {
      color: #000;
    }
  }
  .links {
    line-height: 24px;
    font-family: 'PFAgoraSlabPro';
  }
  p {
    margin-bottom: 20px;
  }
}
.slider {
  .item {
    position: relative;
    .bg {
      img {
        display: block;
        width: 100%;
      }
    }
    .shadow {
      position: absolute;
      font-family: 'PFAgoraSlabPro';
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 36px;
      line-height: 1;
      color: #fff;
      padding: 15px 25px;
      .box-sizing(border-box);
      background: rgba(0, 0, 0, 0.3);
      .border-radius(0 0 3px 3px);
    }
  }
}
h1 {
  font-family: 'PFAgoraSlabPro';
  font-size: 72px;
  color: #f01;
  margin: 15px 0 20px;
}
section {
  float: left;
  width: 641px;
}
aside {
  float: right;
  width: 310px;
}
footer {
  margin: 40px 0 0 0;
  .wrap {
    border-top: 1px solid #b7b7b7;
    padding: 13px 0;
    .left {
      float: left;
      margin-left: 10px;
    }
    .right {
      float: right;
      margin-right: 10px;
    }
  }
}
.line {
  background: #efefef;
  position: relative;
  padding: 0 0 6px 0;
  .bg {
    background: url(i/line-special.png);
    bottom: 0;
    height: 6px;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  img {
    display: block;
  }
}
.glow {
  background: url(i/glow.png) no-repeat center;
  min-height: 100%;
  padding: 30px 0;
  .image {
    width: 633px;
    margin: 0 auto;
    height: 820px;
    background: url(i/index.png) no-repeat;
    position: relative;
    a.usa, a.carib, a.logo {
      position: absolute;
      display: block;
    }
    a.usa {
      width: 245px;
      height: 105px;
      top: 390px;
      left: 15px;
    }
    a.carib {
      width: 255px;
      height: 105px;
      top: 510px;
      right: 0;
    }
    a.logo {
      width: 230px;
      height: 175px;
      top: 0;
      right: 45px;
    }
  }
}