/ @include 'kit/head.kit'

.line 
  .wrap 
    %a.special{:href => ""} 
      %img{:src => "i/special.png"} 
  .bg 

.wrap.clearfix
  %h1 Отдых на Карибах
  %section 
    .slider 
      .item 
        .bg 
          %img{:src => "i/slider.jpg", :alt => ""} 
        .shadow 
          Доминикана —
          %br 
          это рай на земле!
    .elem 
      %img{:src => "i/section_01.jpg", :alt => ""} 
      .data
        %h3 
          %a{:href => ""} Пляжный отдых в Доминикане
        %p Доминикана – это удивительные песчаные пляжи, растянутые на множество километров с белым, благоприятный климат с всегда теплой, кристально чистой водой, превосходные возможности для наблюдения за китами, занятия серфингом, дайвингом и рыбалкой, а также отсутствие визы – все это объединяют в себе путешествия в Доминиканскую республику. Компания Джаз  Тур готова  предложить перелет авиакомпаниями Аэрофлот и Трансаэро, размещение в прекрасных отелях и на самых лучших пляжах.
        .links 
          %a{:href => ""} Пляжные туры
          |
          %a{:href => ""} Свадьба и медовый месяц в Доминикане
    .elem 
      %img{:src => "i/section_02.jpg", :alt => ""} 
      .data
        %h3 
          %a{:href => ""} Экскурсионные туры и пляжный отдых в Мексике
        %p Мексика буквально дышит экзотикой и своеобразием, каждый регион страны по-своему интересен и привлекателен. Компания Джаз приглашает совершить увлекательное путешествие по Мексике, во время которого Вы познакомитесь с уникальной культурой страны и посетите древние природные и исторические памятники в сопровождении русскоговорящих гидов по всему маршруту. Прекрасным дополнением к экскурсионной программе станет отдых на белоснежных пляжах Канкуна или Ривьеры Майя.
        .links 
          %a{:href => ""} Экскурсионные туры
          |
          %a{:href => ""} Пляжные туры
          |
          %a{:href => ""} Рыбалка в Мексике
          %br 
          %a{:href => ""} Свадьба и медовый месяц в Мексике
    .elem 
      %img{:src => "i/section_03.jpg", :alt => ""} 
      .data
        %h3 
          %a{:href => ""} Комбинированый тур Куба и Багамы
        %p Джаз Тур представляет Вашему вниманию новинку сезона комбинированный тур для тех кто хочет вкусить очарование колониальной Гаваны и красоту белоснежных пляжей Багамских островов. Безвизовый въезд для граждан РФ  и небольшое расстояние между этими странами позволит сделать это путешествием простым и комфортным. 
        .links 
          %a{:href => ""} Комбинированный тур Куба и Багамы на 9 ночей
          %br 
          %a{:href => ""} Комбинированный тур Куба и Багамы на 12 ночей
    .elem 
      %img{:src => "i/section_04.jpg", :alt => ""} 
      .data
        %h3 
          %a{:href => ""} Комбинированный тур США и Карибы
        %p Удачное сочетание отдыха в одном из крупнейших мегаполисов мира – Нью-Йорке с белоснежными  пляжами Доминиканы, Ямайки и Мексики.Вы увидите все достопримечательности города, который никогда не спит: небоскребы Эмпайер Стейт Билдинг и Крайслер, Централ парк, совершите круиз к Статуе Свободы, побываете на Бродвейском шоу, совершите однодневную поездку в столицу США – Вашингтон или к знаменитому Ниагарскому водопаду. На Карибах Вас ждут бесконечные пляжи,  великолепные отели (система All inclusive) , море, солнце, тропические сады и отличное настроение!
        .links 
          %a{:href => ""} Комбинированный тур США и Доминикана
          %br 
          %a{:href => ""} Комбинированный тур США и Мексика
          %br 
          %a{:href => ""} Комбинированный тур США и Ямайка

  %aside 
    .elem 
      .label Мексика
      .sublabel Гарантированные туры
      .tour 
        .price 
          .lab 
            от 
            %span 3 259$
          %img{:src => "i/tour.png", :alt => ""}
        .data 
          %a{:href => ""} Ацтека + пляжный  отдых
          %p Авиакомпания Iberia 
          %p.date заезды: 10/08  и  20/07
      .tour 
        .price 
          .lab 
            от 
            %span 3 259$
          %img{:src => "i/tour.png", :alt => ""}
        .data 
          %a{:href => ""} Великая Мексика + пляжный отдых
          %p Авиакомпания Iberia 
          %p.date заезды 10/08 и 20/07

    .elem 
      .label Мексика
      .sublabel Гарантированные туры
      .tour 
        .price 
          .lab 
            от 
            %span 3 259$
          %img{:src => "i/tour.png", :alt => ""}
        .data 
          %a{:href => ""} Ацтека + пляжный  отдых
          %p Авиакомпания Iberia 
          %p.date заезды: 10/08  и  20/07
      .tour 
        .price 
          .lab 
            от 
            %span 3 259$
          %img{:src => "i/tour.png", :alt => ""}
        .data 
          %a{:href => ""} Великая Мексика + пляжный отдых
          %p Авиакомпания Iberia 
          %p.date заезды 10/08 и 20/07

    %a.to_usa{:href => ""} 
      %img{:src => "i/to_usa.png", :alt => ""} 
    %a.to_carib{:href => ""} 
      %img{:src => "i/to_carib.png", :alt => ""} 

%footer 
  .wrap 
    .left<
      %a{:href => ""}< 
        %img{:src => "i/footer_01.png"} 
      %a{:href => ""}<
        %img{:src => "i/footer_02.png"} 
    .right 
      

/ @include 'kit/foot.kit'